<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Unicat project">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
  <link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.carousel.css">
  <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
  <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/animate.css">
  <link rel="stylesheet" type="text/css" href="styles/main_styles.css">
  <link rel="stylesheet" type="text/css" href="styles/responsive.css">
</head>
<body>

<div class="super_container">

  <!-- Header -->

  <header class="header">
    <!-- Header Content -->
    <div class="header_container">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="header_content d-flex flex-row align-items-center justify-content-start">
              <div class="logo_container">
                <a href="#">
                  <div class="logo_text">Unic<span>at</span></div>
                </a>
              </div>
              <nav class="main_nav_contaner ml-auto">
                <ul class="main_nav">
                  <li class="active"><a href="/">Home</a></li>
                  <li><a href="/lms">Courses</a></li>
                  <li><a href="/login">Login</a></li>
                  <li><a href="/register">Register</a></li>
                  <li><a href="/logout">Logout</a></li>
                </ul>
                <!-- Hamburger -->

                <div class="shopping_cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                <div class="hamburger menu_mm">
                  <i class="fa fa-bars menu_mm" aria-hidden="true"></i>
                </div>
              </nav>

            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Menu -->

  <div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
    <div class="menu_close_container"><div class="menu_close"><div></div><div></div></div></div>
    <div class="search">
      <form action="#" class="header_search_form menu_mm">
        <input type="search" class="search_input menu_mm" placeholder="Search" required="required">
        <button class="header_search_button d-flex flex-column align-items-center justify-content-center menu_mm">
          <i class="fa fa-search menu_mm" aria-hidden="true"></i>
        </button>
      </form>
    </div>
    <nav class="menu_nav">
      <ul class="menu_mm">
        <li class="menu_mm"><a href="index.html">Home</a></li>
        <li class="menu_mm"><a href="/lms">Courses</a></li>
        <li class="menu_mm"><a href="/login">Login</a></li>
        <li class="menu_mm"><a href="/register">Register</a></li>
        <li class="menu_mm"><a href="/logout">Logout</a></li>
        <li class="menu_mm"><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </div>

  <!-- Home -->

  <div class="home">
    <div class="home_slider_container">

      <!-- Home Slider -->
      <div class="owl-carousel owl-theme home_slider">

        <!-- Home Slider Item -->
        <div class="owl-item">
          <div class="home_slider_background" style="background-image:url(images/home_slider_1.jpg)"></div>
          <div class="home_slider_content">
            <div class="container">
              <div class="row">
                <div class="col text-center">
                  <div class="home_slider_title">The Premium System Education</div>
                  <div class="home_slider_subtitle">Future Of Education Technology</div>
                  <div class="home_slider_form_container">
                    <form action="#" id="home_search_form_1" class="home_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between">
                      <div class="d-flex flex-row align-items-center justify-content-start">
                        <input type="search" class="home_search_input" placeholder="Keyword Search" required="required">
                        <select class="dropdown_item_select home_search_input">
                          <option>Category Courses</option>
                          <option>Category</option>
                          <option>Category</option>
                        </select>
                        <select class="dropdown_item_select home_search_input">
                          <option>Select Price Type</option>
                          <option>Price Type</option>
                          <option>Price Type</option>
                        </select>
                      </div>
                      <button type="submit" class="home_search_button">search</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

  <!-- Features -->

  <div class="features">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section_title_container text-center">
          </br>
            <h2 class="section_title">Welcome To LMS</h2>
            <div class="section_subtitle"><p>LMS using machine learning base station selection and edge content caching</p></div>
          </div>
        </div>
      </div>
      <div class="row features_row">

        <!-- Features Item -->
        <div class="col-lg-3 feature_col">
          <div class="feature text-center trans_400">
            <div class="feature_icon"><img src="images/icon_1.png" alt=""></div>
            <h3 class="feature_title">The Experts</h3>
            <div class="feature_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></div>
          </div>
        </div>

        <!-- Features Item -->
        <div class="col-lg-3 feature_col">
          <div class="feature text-center trans_400">
            <div class="feature_icon"><img src="images/icon_2.png" alt=""></div>
            <h3 class="feature_title">Book & Library</h3>
            <div class="feature_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></div>
          </div>
        </div>

        <!-- Features Item -->
        <div class="col-lg-3 feature_col">
          <div class="feature text-center trans_400">
            <div class="feature_icon"><img src="images/icon_3.png" alt=""></div>
            <h3 class="feature_title">Best Courses</h3>
            <div class="feature_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></div>
          </div>
        </div>

        <!-- Features Item -->
        <div class="col-lg-3 feature_col">
          <div class="feature text-center trans_400">
            <div class="feature_icon"><img src="images/icon_4.png" alt=""></div>
            <h3 class="feature_title">Award & Reward</h3>
            <div class="feature_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <!-- Footer -->

  <footer class="footer">
    <div class="footer_background" style="background-image:url(images/footer_background.png)"></div>
      <div class="row copyright_row">
        <div class="col">
          <div class="copyright d-flex flex-lg-row flex-column align-items-center justify-content-start">
            <div class="cr_text"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>

          </div>
        </div>
      </div>
  </footer>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap4/popper.js"></script>
<script src="styles/bootstrap4/bootstrap.min.js"></script>
<script src="plugins/greensock/TweenMax.min.js"></script>
<script src="plugins/greensock/TimelineMax.min.js"></script>
<script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="plugins/greensock/animation.gsap.min.js"></script>
<script src="plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script src="js/custom.js"></script>
</body>
</html>